@model ListaPaginada<Articulo>

 <h2 class="text-center mt-3">Filtro de artículos</h2>

@if (Model.Count() > 0)
{
    <hr />
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var articulo in Model)
        {

            <div class="col">
                <div class="card h-100">
                    <img src="@articulo.UrlImagen" class="card-img-top img-thumbnail" width="100%" style="height: 250px" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="text-center">@articulo.Nombre</h5>
                        <a asp-action="Detalle" class="btn btn-dark mt-auto" style="border-radius: 10px;" asp-route-id="@articulo.Id">
                            Más información
                        </a>
                    </div>
                </div>
            </div>

        }
    </div>
}
else
{
    <p>No hay resultados con ese parámetro de busqueda.</p>
}

<br />
<br />

<!--Crear botones de páginación-->
<div class="text-center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                <a class="page-link" asp-controller="Home" asp-action="ResultadoBusqueda" asp-route-page="@(Model.PageIndex - 1)" asp-route-searchString="@Model.SearchString">Anterior</a>
            </li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <a class="page-link" asp-controller="Home" asp-action="ResultadoBusqueda" asp-route-page="@i" asp-route-searchString="@Model.SearchString">@i</a>
                </li>
            }
            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                <a class="page-link" asp-controller="Home" asp-action="ResultadoBusqueda" asp-route-page="@(Model.PageIndex + 1)" asp-route-searchString="@Model.SearchString">Siguiente</a>
            </li>
        </ul>
    </nav>
</div>